<div class="container">
  <div class="card border-0">
    <form role="form">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h6 class="bold">Nro de tarjeta de ingreso</h6>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese número"
              required
              name="tarjetaIngreso"
              ngModel
            />
          </div>
          <div class="col-md-3">
            <h6 class="bold">Fecha de ingreso</h6>
            <p>esto anda!</p>
          </div>
          <div class="col-md-6">
            <h6 class="bold">Hora de ingreso</h6>
            <p>esto anda!</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h6 class="bold">Visitar a</h6>
            <select class="browser-default custom-select">
              <option selected>Seleccione a la persona indicada</option>
            </select>
          </div>

          <div class="col-md-6">
            <h6 class="bold">Sector</h6>
            <select class="browser-default custom-select">
              <option selected>Seleccione sector de la persona visitada</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <button type="submit" class="btn btn-md btn-default">
                  Ingresar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
